<div class="container">
  <form action="">
    <h2>Wie wohnst du?</h2>

    <select class="select select-bordered w-full max-w-xs">
      <option disabled selected>Wähle deine Anzahl Zimmer</option>
      <option>1½ Zimmer</option>
      <option>2½ Zimmer</option>
      <option>3½ Zimmer</option>
      <option>4½ Zimmer</option>
      <option>5½ Zimmer</option>
      <option>Einfamilienhaus</option>
    </select>
    <button class="btn btn-active w-full max-w-xs">Weiter</button>
  </form>
</div>
