.container {
  form {
    padding: 15% 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    h2 {
      font-size: 2em;
      font-weight: bold;
    }
  }
}
