<div class="container">
  <h2>Wo wohnst du?</h2>
  <div class="form-control w-full max-w-xs">
    <input type="text" placeholder="Dein Ort" class="input input-bordered w-full max-w-xs" [(ngModel)]="city" (keyup)="searchElectricityPrices($event)"/>
  </div>

  <div class="cities">
    <div *ngFor="let electricityPrice of electricityPrices$ | async" [ngClass]="{'city': true, 'bg-neutral': !comparePrices(electricityPrice, selectedPrice), 'bg-primary': comparePrices(electricityPrice, selectedPrice), 'text-primary-content': true}" (click)="selectPrice(electricityPrice)">
      <label class="label cursor-pointer electricity-price">
        <div class="text p-2">
          <p><b>{{ electricityPrice.municipalityLabel }}</b></p>
          <p>{{ electricityPrice.operatorLabel }}</p>
        </div>
      </label>
    </div>
  </div>

  <button class="btn btn-wide btn-primary w-full max-w-xs" *ngIf="selectedPrice" (click)="savePrice()">Weiter</button>
</div>
