<div class="card bg-base-100 shadow-xl bg-primary {{name.toLowerCase()}} text-neutral-content" (click)="submit()">
  <div class="overlay">
    <div class="card-body">
      <div class="flex items-center justify-center mb-4">
        <h2 class="card-title font-bold">{{name}}</h2>
      </div>
      <div class="flex text-center"><p>{{description}}</p></div>
      <div class="flex items-center justify-center mt-4">
        <span class="material-symbols-outlined text-5xl text-primary">
          {{icon}}
        </span>
        <div class="badge badge-primary badge-outline">{{statistics.challengesSolved}}/{{statistics.totalChallenges}} </div>
        
        <div class="badge badge-primary badge-outline">{{ statistics.savings | number : '1.2-2'}}/{{ statistics.totalAmount | number : '1.2-2'}}</div>
      </div> 
      
      <div class="card-actions justify-end">
      </div>
    </div>
  </div>
</div>

