@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  .text-container {
    padding: 50px 0;
    @include flex-col-center;
    p {
      margin: 10px;
      font-size: 1.5em;
      text-align: center;
    }
  }

  .bulb-container {
    position: relative;
    width: 100%;
    @include flex-col-center;
    .glow {
      position: absolute;
      z-index: -1;
      top: 41%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 199, 15, 0.4);
      border-radius: 50%;
      animation-name: glowing;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      box-shadow: 0 0 50px 30px rgb(255, 199, 15, 0.2);
    }
    img {
      margin: auto;
      width: 200px;
    }
  }

  .toggle-container {
    position: relative;
    width: 100%;
    @include flex-row-center();
    .toggle {
      width: 90px;
      height: 50px;
      position: absolute;
      top: 0;
      margin-top: 50px;
    }
  }

  .button-container {
    width: 100%;
    height: fit-content;
    padding: 0 20%;
    position: relativey;
    button {
      position: absolute;
      bottom: 0;
      margin: auto;
      width: 100%;
      max-width: 320px;
      @include flex-row-center();
    }
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 50px 40px rgb(255, 199, 15, 0.2);
  }
  50% {
    box-shadow: 0 0 50px 50px rgb(255, 199, 15, 0.2);
  }
  100% {
    box-shadow: 0 0 50px 40px rgb(255, 199, 15, 0.2);
  }
}
